.settings__row {
  text-align: left;

  p {
    font-weight: bold;
    margin: 1rem !important;
  }

  & .checkbox {
    margin-top: 0.5rem !important;
  }

  & .settings__row--7 {
    margin: 0.5rem !important;
  }
}
