@import '../../variables.scss';

.sidebar {
  width: 8rem;
  height: 100vh;
  background-color: $sidebar-color;
  position: fixed;
  transition: width 600ms ease;

  & .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;

    & h2 {
      font-size: 1.4rem;
      color: white;
    }

    & .sidebar-item {
      width: 100%;
      // padding: 0.5rem;
      &:last-child {
        margin-top: auto;
      }
    }

    & .sidebar-link {
      display: flex;
      align-items: center;
      // justify-content: space-between;
      height: 4.5rem;
      color: $text-primary;
      text-decoration: none;
      filter: grayscale(100%) opacity(0.8);
      transition: 600ms;

      &:hover {
        filter: grayscale(0%) opacity(1);
        background: $bg-secondary;
        color: $text-secondary;
      }

      & .link-text {
        // display: none;
        margin: 1rem;

        &:hover {
          display: block;
        }
      }
    }
  }

  &:hover {
    width: 14rem;
    & h2 {
      font-size: 2rem;
      transition: 800ms;
    }
  }

  /* Small screens */
  @media only screen and (max-width: 600px) {
    bottom: 0;
    width: 100vw;
    height: 5rem;

    & .logo {
      display: none;
    }

    & .sidebar-nav {
      flex-direction: row;
      & .sidebar-link {
        justify-content: center;

        // &:hover {
        //   filter: grayscale(0%) opacity(1);
        //   background: $bg-secondary;
        //   color: $text-secondary;
        // }
      }

      & .sidebar-item {
        &:last-child {
          margin-top: 0;
        }
      }
    }
  }

  /* Large screens */
  // @media only screen and (min-width: 600px) {
  //   top: 0;
  //   // width: 5rem;
  //   height: 100vh;
  //   &:hover {
  //     width: 16rem;
  //   }

  //   &:hover .link-text {
  //     display: inline;
  //   }

  //   &:hover .logo svg {
  //     margin-left: 11rem;
  //   }

  //   &:hover .logo-text {
  //     left: 0px;
  //   }
  // }
}
