.sidebar {
  background-color: #4b00ec;
  // position: relative;
  // z-index: 1;
  // left: 0px;
  // top: 0px;
  // display: flex;
  // flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  // border-color: rgba(64, 194, 133, 0.693);
  // background-color: rgb(255, 255, 255);
  transition: 0.8s ease;
}
